{% extends 'base.html' %}

{% block title %}Редактирование аккаунта{% endblock %}

{% block content %}
  <h1>Редактирование вашего аккаунта</h1>
  <div class='col-md-7 col-lg-8'>
    <p>
      Вы можете отредактировать свой аккаунт с помощью
      этой формы:
    </p>
    <form method='post' enctype='multipart/form-data'>
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      {% csrf_token %}
      <p><input type='submit' value='Сохранить изменения'</p>
    </form>
  </div>
{% endblock %}