{% extends 'base.html' %}

{% block title %}Логин{% endblock %}
{% load user_filters %}
{% load static %}

{% block content %}
  <div class="row justify-content-left">
    <div class="col-md-8 p-5">
      <div class="card">
        <h2 class="card-header">
          Войти на сайт
        </h2>
        <form method="post">
          {% csrf_token %}
          {% if form.errors %}
            <p>
              Неверные логин или пароль.
              Попробуйте еще раз.
            </p>
          {% else %}
            <p>
              Пожалуйста, введите логин и пароль.
              Если у вас нет аккаунта,
              <a href='{% url 'account:register' %}'>создайте его.</a>
            </p>
          {% endif %}
          {% for field in form %}
            <div class="form-group row my-3"
              {% if field.field.required %}
                 aria-required="true"
              {% else %}
                 aria-required="false"
              {% endif %}
            >
              <label for="{{ field.id_for_label }}">
                {{ field.label }}
                {% if field.field.required %}
                  <span class="required text-danger">*</span>
                {% endif %}
              </label>
              <div>
                {{ field|add_class:'form-control' }}
                {% if field.help_text %}
                  <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                    {{ field.help_text|safe }}
                  </small>
                {% endif %}
              </div>
            </div>
          {% endfor %}
          <input type="hidden" name="next" value="{{ next }}" />
          <p><input type="submit" value="Войти"></p>
        </form>
        {#        <button class="w-30 py-2 mb-2 btn btn-outline-secondary rounded-3"#}
        {#                type="submit">#}
        {#          <svg class="bi me-1" width="16" height="16"#}
        {#               xmlns="http://www.w3.org/2000/svg"#}
        {#               xmlns:xlink="http://www.w3.org/1999/xlink">#}
        {#            <use xlink:href="{% url 'social:begin' 'google-oauth2' %}">#}
        {#            </use>#}
        {#          </svg>#}
        {#          Войти с учетной записью Google#}
        {#        </button>#}
        <p class="button">
          <a href='{% url 'social:begin' 'google-oauth2' %}'>
            Войти с аккаунта Google
          </a>
        </p>

        <a href='{% url 'account:password_reset' %}'>
          Забыли пароль?
        </a>
      </div>
    </div>
  </div>
{% endblock %}