{% extends "base.html" %}

{% block content %}
  <h1>Письмо о смене пароля</h1>
  <p>Здравствуйте,</p>
  <p>Запрошена смена пароля для аккаунта с почтовым ящиком {{ email }}.</p>
  <p>Если вы этого не делали, просто игнорируйте это письмо.</p>
  <p>Иначе пройдите по ссылке для сброса пароля: {{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}</p>
  <p>Ваш логин (если вы забыли): {{ user.get_username }}</p>
  <p>С уважением, ваша команда ВТеме.</p>
{% endblock %}